body{
    background-color: lavenderblush;
    color: deeppink;
    font-family: sans-serif;
    text-align: center;
}
.violet{
    background-color: #ce93d8;
}
.green{
    border-radius: 95%;
}
#rock{
    background-color: #00bcd4;
    font-size: 30px;
}
.yellow{
    background-color: #fff59d;
}